//
// user.scss
// Use this to write your custom SCSS
//

.row {
  margin: 0;
}

.btn-group-xs > .btn, .btn-xs {
  font-size: 12px;
  padding: 8px;
  line-height: .5;
  border-radius: .2rem;
}

.btn-soft-primary {
  color: #2C7BE5;
  background-color: #d5e5fa;
}
.btn-soft-primary[href]:hover, .btn-soft-primary[href]:focus {
  color: #2C7BE5;
  text-decoration: none;
  background-color: #bed7f7;
}

@media (min-width: 768px) {
  .navbar-vertical:not([style*="display: none"]) ~ .main-content .container,
  .navbar-vertical:not([style*="display: none"]) ~ .main-content .container-fluid,
  .navbar-vertical:not([style*="display: none"]) ~ .main-content .container-sm,
  .navbar-vertical:not([style*="display: none"]) ~ .main-content .container-md,
  .navbar-vertical:not([style*="display: none"]) ~ .main-content .container-lg,
  .navbar-vertical:not([style*="display: none"]) ~ .main-content .container-xl,
  .navbar-vertical-sm:not([style*="display: none"]) ~ .main-content .container,
  .navbar-vertical-sm:not([style*="display: none"]) ~ .main-content .container-fluid,
  .navbar-vertical-sm:not([style*="display: none"]) ~ .main-content .container-sm,
  .navbar-vertical-sm:not([style*="display: none"]) ~ .main-content .container-md,
  .navbar-vertical-sm:not([style*="display: none"]) ~ .main-content .container-lg,
  .navbar-vertical-sm:not([style*="display: none"]) ~ .main-content .container-xl {
    padding-left: 0px !important;
    padding-right: 0px !important; } }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.sign-in {
  font-family: "Axiforma" !important;
  margin-top: 80px;
  .auth {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    h1 {
      font-size: 48px;
      margin-bottom: 10px;
    }
    .sign-in-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .sign-in-button {
        width: 50%;
        button {
          img {
            width: 24px;
          }
        }
      }
    }
  }
}

.topbar-tabs {
  height: 70px;
  padding: 0;
  .nav-link {
    padding: 20px 0px;
  }
}

.topbar-profile {
  height: 140px;
  padding: 15px;
  outline: 1px solid $gray-200;
}

.topbar-job-offer {
  height: 70px;
  padding: 0;
}

.inbox {
  height: calc(100vh - 70px);
  overflow: scroll;
}

.inbox-notification-list {
  padding: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}

.inbox-notification-item {
  background: $white;
  border-bottom: 1px solid $gray-200;
  border-radius: 0 !important;
  padding: 15px;
  &:hover {
    background: $gray-100;
    .inbox-notification-item-timestamp {
      display: none;
      font-size: 11px;
    }
    .inbox-notification-item-button {
      display: initial;
    }
  }
}

.inbox-notification-item-active {
  background: $gray-100;
}

.inbox-notification-item-button {
  display: none;
}

.profile {
  height: calc(100vh - 140px);
  overflow: scroll;
  padding-bottom: 30px;
}

.profile-resume {
  background: $white;
  &::-webkit-scrollbar {
    display: none;
  }
  input, p {
    font-size: 14px;
  }
}

.profile-resume-work-education {
  li {
      display: block;
  }
  li:before {
      /*Using a Bootstrap glyphicon as the bullet point*/
      content: "â—";
      // font-family: 'Glyphicons Halflings';
      font-size: 9px;
      float: left;
      margin-top: 4px;
      margin-left: -17px;
      color: $blue;
  }
}

.timeline-profile {
  height: calc(100vh - 140px);
  overflow: scroll;
  border-left: 1px solid $gray-200;
}

.timeline-inbox {
  height: calc(100vh - 70px);
  overflow: scroll;
  border-left: 1px solid $gray-200;
}

.timeline-header {
  height: 70px;
  padding: 0px 15px;
  background: $white;
  outline: 1px solid $gray-200;
  h4 > i {
    color: $blue;
  }
}

.timeline-body {
  background: $gray-100;
  border: none;
  padding: 1.5rem;
}

.timeline-item {
  margin-top: 1rem;
  background: $white;
  border: 1px solid $gray-200;
  border-radius: 2px;
}

.timeline-item-header {
  padding: 1rem;
  margin-bottom: -1px;
  border-bottom: 1px solid $gray-200;
  border-radius: 2px;
}

.timeline-item-body {
  padding: 1rem;
  border-radius: 2px;
}

.timeline-item-separator {
  position: relative;
  height: 2rem;
  margin-top: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  hr {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .badge {
    z-index: 1;
  }
}

.job-offer-apply-form-table {
  label {
    display: flex;
    align-items: center;
    width: 40px;
  }
}

// Job offer modal
#profile-edit-form {
  .dz-default {
    padding:2.7rem 1rem;
  }
  .work-education-item {
    position: relative;
    background: $gray-200;
    border: 1px solid $gray-300;
    border-radius: 2px;
    padding: 20px;
  }
  a.anchor {
    display: block;
    position: relative;
    top: -36px;
    visibility: hidden;
  }
  .select2-selection--multiple {
    padding: 10px;
  }
}


.chrome-extension {
  background-image: url(#{$path-to-img}/covers/linkedin-profile.png);
  background-size: cover;
  height: 100vh;
  .modal-dialog-vertical {
    max-width: 475px;
  }
  .chrome-extension-trigger {
    text-align: center;
    width: 650px;
    padding: 11px;
    background-color: #283e4a;
  }
  .chrome-extension-modal {
    border: none;
    border-left: 1px solid $gray-200;
    .chrome-extension-header {
      justify-content: space-between;
      display: flex;
      position: absolute;
      top: 0;
      padding: 20px;
      border-bottom: 1px solid $gray-200;
      width: 100%;
      background-color: $gray-100;
    }
    .chrome-extension-footer {
      display: flex;
      position: absolute;
      bottom: 0;
      padding: 20px;
      width: 100%;
      text-align: center;
      border-top: 1px solid $gray-200;
      background-color: $gray-100;
      button {
        width: 100%;
      }
    }
  }
  .chrome-extension-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    .chrome-extension-form {
      width: 100%;
      margin-top: 20px;
      label {
        margin-bottom: 2px;
      }
      .form-row {
        width: 100%;
        .custom-select {
          z-index: 1;
        }
      }
    }
  }
}

.chrome-extension-modal {
  .sign-in-button {
    button {
      img {
        width: 24px;
      }
    }
  }
}


// Custome pipeline
.button-drag {
  font-size: 16px;
  &:hover {
    cursor: grab !important;
  }
}




