<tr>
  <td>
    <!-- Checkbox -->
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="list-checkbox custom-control-input" id="listCheckbox@@id">
      <label class="custom-control-label" for="listCheckbox@@id"></label>
    </div>
  </td>
  <td>
    <!-- Profile -->
    <a  href="profile/profile_@@id.html" class="d-flex align-items-center text-reset">
      <div class="avatar avatar-sm align-middle mr-3">
        <img class="avatar-img rounded" src="/assets/img/avatars/profiles/avatar-@@id.jpg">
      </div>
      <div class="d-flex flex-column align-items-start justify-content-center">
        <h4 class="item-name mb-0">@@full_name</h4>
        <p class="text-muted small mb-0">@@headline</p>
      </div>
    </a>
  </td>
  <td>
    <!-- Job offer -->
    <span>@@job_offer</span>
    @@if(job_offer == "") {
      <span class="text-muted">-</span>
    }
  </td>
  <td>
    <!-- Stage -->
    <span>@@stage</span>
    @@if(stage == "") {
      <span class="text-muted">-</span>
    }
  </td>
  <td class="py-0">
    <!-- Skills -->
    <div class="d-flex flex-wrap">
      @@if(skill.A != "") {
        <span class="badge badge-light m-1">@@skill.A</span>
      }
      @@if(skill.B != "") {
        <span class="badge badge-light m-1">@@skill.B</span>
      }
      @@if(skill.C != "") {
        <span class="badge badge-light m-1">@@skill.C</span>
      }
      @@if(skill.D != "") {
        <span class="badge badge-light m-1">@@skill.D</span>
      }
      @@if(skill.E != "") {
        <span class="badge badge-light m-1">@@skill.E</span>
      }
      @@if(skill.F != "" && skill.G == "") {
        <span class="text-muted m-1" style="font-size: 10px;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@@skill.F">and 1 more</span>
      }
      @@if(skill.G != "" && skill.H == "") {
        <span class="text-muted m-1" style="font-size: 10px;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@@skill.F, @@skill.G ">and 2 more</span>
      }
      @@if(skill.H != "" && skill.I == "") {
        <span class="text-muted m-1" style="font-size: 10px;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@@skill.F, @@skill.G, @@skill.H ">and 3 more</span>
      }
      @@if(skill.I != "" && skill.J == "") {
        <span class="text-muted m-1" style="font-size: 10px;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@@skill.F, @@skill.G, @@skill.H, , @@skill.I ">and 4 more</span>
      }
      @@if(skill.J != "") {
        <span class="text-muted m-1" style="font-size: 10px;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@@skill.F, @@skill.G, @@skill.H, , @@skill.I ">and 5 more</span>
      }
    </div>
  </td>
  <td class="py-0">
    <!-- Tags -->
    <!--     <div class="d-flex flex-wrap">
      @@if(tag.A != ""){
        <span class="badge badge-soft-warning m-1">@@tag.A</span>
      }
      @@if(tag.B != ""){
        <span class="badge badge-soft-info m-1">@@tag.B</span>
      }
      @@if(tag.C != ""){
        <span class="badge badge-soft-danger m-1">@@tag.C</span>
      }
      @@if(tag.D != ""){
        <span class="badge badge-soft-secondary m-1">@@tag.D</span>
      }
      @@if(tag.E != ""){
        <span class="badge badge-soft-success m-1">@@tag.E</span>
      }
      @@if(tag.F != "" && tag.G == "") {
        <span class="text-muted m-1" style="font-size: 10px;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@@tag.F">and 1 more</span>
      }
      @@if(tag.G != "" && tag.H == "") {
        <span class="text-muted m-1" style="font-size: 10px;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@@tag.F, @@tag.G ">and 2 more</span>
      }
      @@if(tag.H != "" && tag.I == "") {
        <span class="text-muted m-1" style="font-size: 10px;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@@tag.F, @@tag.G, @@tag.H ">and 3 more</span>
      }
      @@if(tag.I != "" && tag.J == "") {
        <span class="text-muted m-1" style="font-size: 10px;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@@tag.F, @@tag.G, @@tag.H, , @@tag.I ">and 4 more</span>
      }
      @@if(tag.J != "") {
        <span class="text-muted m-1" style="font-size: 10px;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@@tag.F, @@tag.G, @@tag.H, , @@tag.I ">and 5 more</span>
      }
    </div> -->

    <span>@@salary_expectations</span>
    @@if(salary_expectations == "") {
      <span class="text-muted">-</span>
    }
  </td>
  <td>
    <span>@@last_contacted_at</span>
    @@if(last_contacted_at == "") {
      <span class="text-muted">-</span>
    }
  </td>
  <td class="text-right">

    <!-- Dropdown -->
    <div class="dropdown">
      <a class="dropdown-ellipses dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fe fe-more-vertical"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="#!" class="dropdown-item">
          Action
        </a>
        <a href="#!" class="dropdown-item">
          Another action
        </a>
        <a href="#!" class="dropdown-item">
          Something else here
        </a>
      </div>
    </div>

  </td>
</tr>
