<div class="navbar-user ml-auto mr-4">

  <!-- Dropup -->
  <div class="dropup">

    <!-- Toggle -->
    <a href="#" id="sidebarIconCopy" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="avatar avatar-sm">
        <img src="https://ca.slack-edge.com/T029MPGH6-U013V6LSE7J-03ad80833708-512" class="avatar-img rounded">
      </div>
    </a>

    <!-- Menu -->
    <div class="dropdown-menu" aria-labelledby="sidebarIconCopy">
      <a href="#" class="dropdown-item">A link</a>
      <a href="#" class="dropdown-item">A link</a>
      <a href="#" class="dropdown-item">A link</a>
      <a href="#" class="dropdown-item">A link</a>
      <hr class="dropdown-divider">
      <a href="@@webRoot/sign-in.html" class="dropdown-item">Logout</a>
    </div>

  </div>

</div>
