<div class="header-talent-profile sticky-top">
  <div class="container-fluid">

    <div class="row d-flex align-items-center">

      <!-- Back button -->
      <button type="button" class="btn btn-light btn-sm ml-4">
        <a href="@@webRoot/inbox.html"><i class="fe fe-chevron-left"></i> Back to @@origin</a>
      </button>


      <!-- Fullname -->
      <div class="">
        <h3 class="mb-0 mx-3">@@fullname</h3>
      </div>

      <!-- Edit profile -->
      <span>
        <a href="#" class="small">edit profile</a>
      </span>

      @@include("header-user.html")

  </div>
  </div>
</div> <!-- / .header -->

