<div class="inbox inbox-notification-list">
  @@loop("inbox-notification-item.html", [
    {
      "fullname" : "Pauline Lenoir",
      "icon"     : "mail",
      "title"    : "Thibaud sent a message",
      "link"     : "pauline-lenoir.html",
      "timestamp": "15 hours ago"
    },
    {
      "fullname" : "Jordi Castells",
      "icon"     : "arrow-down",
      "title"    : "Applied to Backend Engineer",
      "link"     : "jordi-castells.html",
      "timestamp": "Yesterday"
    },
    {
      "fullname" : "Juan Carlos Aranda-Fábregas",
      "icon"     : "clock",
      "title"    : "Send offer letter",
      "link"     : "juan-carlos-aranda-fabregas.html",
      "timestamp": "2 days ago"
    },
    {
      "fullname" : "Julien Colas",
      "icon"     : "arrow-down",
      "title"    : "Applied to Backend Engineer",
      "link"     : "julien-colas.html",
      "timestamp": "Sep 29"
    },
    {
      "fullname" : "Julien Loiseau",
      "icon"     : "arrow-down",
      "title"    : "coucou julien",
      "link"     : "julien-loiseau.html",
      "timestamp": "Sep 28"
    },
    {
      "fullname" : "Mercedes Arroyo Bartolomé",
      "icon"     : "arrow-down",
      "title"    : "coucou julien",
      "link"     : "arroyo-bartolome.html",
      "timestamp": "Sep 27"
    },
    {
      "fullname" : "Catherine Richard",
      "icon"     : "arrow-down",
      "title"    : "coucou julien",
      "link"     : "catherine-richard.html",
      "timestamp": "Sep 27"
    },
    {
      "fullname" : "Adrien Girard Le Royer",
      "icon"     : "arrow-down",
      "title"    : "coucou julien",
      "link"     : "girard-le-royer.html",
      "timestamp": "Sep 26"
    },
    {
      "fullname" : "Davlink Pascal",
      "icon"     : "arrow-down",
      "title"    : "coucou julien",
      "link"     : "davlink-pascal.html",
      "timestamp": "Sep 26"
    },
    {
      "fullname" : "Teresa Isabel Posada",
      "icon"     : "arrow-down",
      "title"    : "coucou julien",
      "link"     : "isabel-posada.html",
      "timestamp": "Sep 25"
    },
    {
      "fullname" : "Noël Morvan",
      "icon"     : "arrow-down",
      "title"    : "coucou julien",
      "link"     : "noel-morvan.html",
      "timestamp": "Sep 24"
    },
    {
      "fullname" : "Antoinette Gillet",
      "icon"     : "arrow-down",
      "title"    : "coucou julien",
      "link"     : "antoinette-gillet.html",
      "timestamp": "Sep 24"
    }
  ])
</div>
