<div class="inbox inbox-notification-list">
  @@include("inbox-notification-item.html", {
    "id"       : "1",
    "full_name": "Pauline Lenoir",
    "job_offer": "Backend Engineer",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "Thibaud Elzière sent an email",
    "body"     : "Your application to eFounders: Hey, it's been a while and...",
    "link"     : "@@webRoot/inbox/inbox_1.html",
    "timestamp": "3 hours ago"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "2",
    "full_name": "Alexandre Vallet",
    "job_offer": "",
    "icon"     : "arrow-down",
    "type"     : "Application",
    "title"    : "Applied to Backend Engineer",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_2.html",
    "timestamp": "7 hours ago"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "3",
    "full_name": "Zacharie de Dias",
    "job_offer": "",
    "icon"     : "mic",
    "type"     : "mic",
    "title"    : "Accepted invitation: On-site interview",
    "body"     : "Fri Oct 16, 2020 09:30 - 10:00",
    "link"     : "@@webRoot/inbox/inbox_3.html",
    "timestamp": "15 hours ago"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "4",
    "full_name": "Gabrielle Legendre",
    "job_offer": "",
    "icon"     : "clock",
    "type"     : "Email",
    "title"    : "New reminder",
    "body"     : "Send technical test",
    "link"     : "@@webRoot/inbox/inbox_4.html",
    "timestamp": "Yesterday"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "5",
    "full_name": "Celia Miranda",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "Celia Miranda sent an email",
    "body"     : "Wow I'm so happy you liked my profile, sure let's pl...",
    "link"     : "@@webRoot/inbox/inbox_5.html",
    "timestamp": "Yesterday"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "6",
    "full_name": "Alfred Gerard",
    "job_offer": "",
    "icon"     : "file-text",
    "type"     : "Email",
    "title"    : "Thibauld Elzière mentioned you",
    "body"     : "Hey @gregoire tu pourrais check les ref de ce mec",
    "link"     : "@@webRoot/inbox/inbox_6.html",
    "timestamp": "Yesterday"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "7",
    "full_name": "Lucas Le Riou",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_7.html",
    "timestamp": "Yesterday"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "8",
    "full_name": "Alix Robin",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_8.html",
    "timestamp": "Yesterday"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "9",
    "full_name": "Louise Valentin",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_9.html",
    "timestamp": "13 Oct"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "10",
    "full_name": "Manuel Castilla",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_10.html",
    "timestamp": "13 Oct"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "11",
    "full_name": "Miguel Valentín",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_11.html",
    "timestamp": "13 Oct"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "12",
    "full_name": "Paul de Faure",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_12.html",
    "timestamp": "12 Oct"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "13",
    "full_name": "Gregorio Belmonte-Salom",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_13.html",
    "timestamp": "12 Oct"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "14",
    "full_name": "Christophe Schmitt",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_14.html",
    "timestamp": "12 Oct"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "15",
    "full_name": "Agathe Reynaud-Masson",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_15.html",
    "timestamp": "12 Oct"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "16",
    "full_name": "Margot Lefort",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_16.html",
    "timestamp": "11 Oct"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "17",
    "full_name": "Georges Pascual-Atienza",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_17.html",
    "timestamp": "11 Oct"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "18",
    "full_name": "Olivier Raynaud",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_18.html",
    "timestamp": "11 Oct"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "19",
    "full_name": "Jules de Riou",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_19.html",
    "timestamp": "11 Oct"
  })

  @@include("inbox-notification-item.html", {
    "id"       : "20",
    "full_name": "Bernard Duval",
    "job_offer": "",
    "icon"     : "mail",
    "type"     : "Email",
    "title"    : "A cool notification title",
    "body"     : "",
    "link"     : "@@webRoot/inbox/inbox_20.html",
    "timestamp": "11 Oct"
  })
</div>
