<div class="inbox inbox-notification-list">
  @@if(notification.A != "") {
    @@include("inbox-notification-item.html", {
      "full_name": "@@notification.A.full_name",
      "icon"     : "@@notification.A.icon",
      "title"    : "@@notification.A.title",
      "link"     : "@@notification.A.link",
      "timestamp": "@@notification.A.timestamp"
    })
  }
  @@if(notification.B != "") {
    @@include("inbox-notification-item.html", {
      "full_name": "@@notification.B.full_name",
      "icon"     : "@@notification.B.icon",
      "title"    : "@@notification.B.title",
      "link"     : "@@notification.B.link",
      "timestamp": "@@notification.B.timestamp"
    })
  }
  @@if(notification.C != "") {
    @@include("inbox-notification-item.html", {
      "full_name": "@@notification.C.full_name",
      "icon"     : "@@notification.C.icon",
      "title"    : "@@notification.C.title",
      "link"     : "@@notification.C.link",
      "timestamp": "@@notification.C.timestamp"
    })
  }
  @@if(notification.D != "") {
    @@include("inbox-notification-item.html", {
      "full_name": "@@notification.D.full_name",
      "icon"     : "@@notification.D.icon",
      "title"    : "@@notification.D.title",
      "link"     : "@@notification.D.link",
      "timestamp": "@@notification.D.timestamp"
    })
  }
  @@if(notification.E != "") {
    @@include("inbox-notification-item.html", {
      "full_name": "@@notification.E.full_name",
      "icon"     : "@@notification.E.icon",
      "title"    : "@@notification.E.title",
      "link"     : "@@notification.E.link",
      "timestamp": "@@notification.E.timestamp"
    })
  }
  @@if(notification.F != "") {
    @@include("inbox-notification-item.html", {
      "full_name": "@@notification.F.full_name",
      "icon"     : "@@notification.F.icon",
      "title"    : "@@notification.F.title",
      "link"     : "@@notification.F.link",
      "timestamp": "@@notification.F.timestamp"
    })
  }
  @@if(notification.G != "") {
    @@include("inbox-notification-item.html", {
      "full_name": "@@notification.G.full_name",
      "icon"     : "@@notification.G.icon",
      "title"    : "@@notification.G.title",
      "link"     : "@@notification.G.link",
      "timestamp": "@@notification.G.timestamp"
    })
  }
  @@if(notification.H != "") {
    @@include("inbox-notification-item.html", {
      "full_name": "@@notification.H.full_name",
      "icon"     : "@@notification.H.icon",
      "title"    : "@@notification.H.title",
      "link"     : "@@notification.H.link",
      "timestamp": "@@notification.H.timestamp"
    })
  }
  @@if(notification.I != "") {
    @@include("inbox-notification-item.html", {
      "full_name": "@@notification.I.full_name",
      "icon"     : "@@notification.I.icon",
      "title"    : "@@notification.I.title",
      "link"     : "@@notification.I.link",
      "timestamp": "@@notification.I.timestamp"
    })
  }
  @@if(notification.J != "") {
    @@include("inbox-notification-item.html", {
      "full_name": "@@notification.J.full_name",
      "icon"     : "@@notification.J.icon",
      "title"    : "@@notification.J.title",
      "link"     : "@@notification.J.link",
      "timestamp": "@@notification.J.timestamp"
    })
  }
  @@if(notification.K != "") {
    @@include("inbox-notification-item.html", {
      "full_name": "@@notification.K.full_name",
      "icon"     : "@@notification.K.icon",
      "title"    : "@@notification.K.title",
      "link"     : "@@notification.K.link",
      "timestamp": "@@notification.K.timestamp"
    })
  }
  @@if(notification.L != "") {
    @@include("inbox-notification-item.html", {
      "full_name": "@@notification.L.full_name",
      "icon"     : "@@notification.L.icon",
      "title"    : "@@notification.L.title",
      "link"     : "@@notification.L.link",
      "timestamp": "@@notification.L.timestamp"
    })
  }
</div>
