<div class="inbox-notification-item d-flex align-items-center">

    <!-- Checkbox -->
<!--     <div class="col-1">
      <div class="custom-control custom-checkbox table-checkbox">
        <input type="checkbox" class="list-checkbox custom-control-input" name="ordersSelect" id="ordersSelectOne">
        <label class="custom-control-label" for="ordersSelectOne">&nbsp;</label>
      </div>
    </div> -->

    <div class="flex-grow-1">
      <!-- Name -->
      <h4 class="mb-1">
        <a href="@@link">@@full_name</a>
      </h4>

      <!-- Title -->
      <p class="small mb-0">
        <i class="fe fe-@@icon text-primary"></i> @@title</a>
      </p>
    </div>

    <!-- Timestamp -->
    <div>
      <p class="inbox-notification-item-timestamp text-muted mb-0" style="font-size: 12px;">
        <a class="d-block text-reset" href="#">@@timestamp</a>
      </p>
    </div>

    <!-- Bouton -->
    <div class="inbox-notification-item-button">
      <button class="btn btn-white btn-sm">
        <span class="fe fe-check"></span> Done
      </button>
    </div>

</div>
