<a class="inbox-notification-item d-flex align-items-start text-reset" href="@@link">

  <div class="avatar avatar-xs">
    <img src="@@webRoot/assets/img/avatars/profiles/avatar-@@id.jpg" class="avatar-img rounded-circle">
  </div>

  <div class="flex-grow-1 ml-3">
    <h4 class="my-1"><strong>@@full_name</strong>
      @@if(job_offer != "") {
        <span class="small text-muted"> — @@job_offer</span>
      }
    </h4>
    <p class="mb-0"><i class="fe fe-@@icon text-primary mr-1"></i>@@title</p>
    <p class="text-muted small mb-0">@@body</p>
  </div>

  <div class="inbox-notification-item-right text-right">
    <p class="text-muted mt-2" style="font-size: 12px;">
      @@timestamp
    </p>
  </div>

  <div class="inbox-notification-item-button">
    <button class="btn btn-white btn-sm">
      <span class="fe fe-check"></span> Done
    </button>
  </div>

</a>
