<div class="d-flex align-items-center my-2">
  @@if(link_id == 'linkedin') {
    <select class="custom-select" data-toggle="select">
      <option selected="selected">Linkedin</option>
      <option>Twitter</option>
      <option>Github</option>
      <option>Dribbble</option>
      <option>Behance</option>
      <option>Stack Overflow</option>
      <option>Reddit</option>
      <option>Other website</option>
    </select>
  }
  @@if(link_id == 'twitter') {
    <select class="custom-select" data-toggle="select">
      <option>Linkedin</option>
      <option selected="selected">Twitter</option>
      <option>Github</option>
      <option>Dribbble</option>
      <option>Behance</option>
      <option>Stack Overflow</option>
      <option>Reddit</option>
      <option>Other website</option>
    </select>
  }
  @@if(link_id == 'github') {
    <select class="custom-select" data-toggle="select">
      <option>Linkedin</option>
      <option>Twitter</option>
      <option selected="selected">Github</option>
      <option>Dribbble</option>
      <option>Behance</option>
      <option>Stack Overflow</option>
      <option>Reddit</option>
      <option>Other website</option>
    </select>
  }
  @@if(link_id == 'dribbble') {
    <select class="custom-select" data-toggle="select">
      <option>Linkedin</option>
      <option>Twitter</option>
      <option>Github</option>
      <option selected="selected">Dribbble</option>
      <option>Behance</option>
      <option>Stack Overflow</option>
      <option>Reddit</option>
      <option>Other website</option>
    </select>
  }
  @@if(link_id == 'behance') {
    <select class="custom-select" data-toggle="select">
      <option>Linkedin</option>
      <option>Twitter</option>
      <option>Github</option>
      <option>Dribbble</option>
      <option selected="selected">Behance</option>
      <option>Stack Overflow</option>
      <option>Reddit</option>
      <option>Other website</option>
    </select>
  }
  @@if(link_id == 'stackoverflow') {
    <select class="custom-select" data-toggle="select">
      <option>Linkedin</option>
      <option>Twitter</option>
      <option>Github</option>
      <option>Dribbble</option>
      <option>Behance</option>
      <option selected="selected">Stack Overflow</option>
      <option>Reddit</option>
      <option>Other website</option>
    </select>
  }
  @@if(link_id == 'reddit') {
    <select class="custom-select" data-toggle="select">
      <option>Linkedin</option>
      <option>Twitter</option>
      <option>Github</option>
      <option>Dribbble</option>
      <option>Behance</option>
      <option>Stack Overflow</option>
      <option selected="selected">Reddit</option>
      <option>Other website</option>
    </select>
  }
  @@if(link_id == 'other') {
    <select class="custom-select" data-toggle="select">
      <option>Linkedin</option>
      <option>Twitter</option>
      <option>Github</option>
      <option>Dribbble</option>
      <option>Behance</option>
      <option>Stack Overflow</option>
      <option>Reddit</option>
      <option selected="selected">Other website</option>
    </select>
  }
  <input type="text" class="form-control ml-3 w-200" value="@@link_url">
  <button type="button" class="list-alert-close close ml-4" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
