<div class="modal fade w-100" id="profile-new-edit" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="max-width: 900px;height: 92%;">
    <div class="modal-content h-100" style="background:#F9FBFD; overflow:scroll;">

      <button type="button" class="list-alert-close close" data-dismiss="modal" style="position: absolute;top: 10px;right: 10px;">
        <span aria-hidden="true">×</span>
      </button>

      <div class="container-fluid">
        <div class="row py-5 pt-4">

          <div class="col-3 mr-3">
            <nav class="navbar flex-column" style="position: fixed;background:#F9FBFD;border: none">
              <a class="nav-link w-100" href="#personal-info">Personal information</a>
              <a class="nav-link w-100" href="#contact-details">Contact details</a>
              <a class="nav-link w-100" href="#summary">Summary</a>
              <a class="nav-link w-100" href="#skills">Skills</a>
              <a class="nav-link w-100" href="#work-experience">Work experience</a>
              <a class="nav-link w-100" href="#education">Education</a>
              <a class="nav-link w-100" href="#links-social">Links & social</a>
              <a class="nav-link w-100" href="#process-info">Process information</a>
              <button class="btn btn-primary mt-4 w-100">Save profile</button>
            </nav>
          </div>

          <div class="col-8">
            <div data-spy="scroll" id="profile-edit-form" class="container" data-offset="0" style="padding-bottom: 500px;">

              <a class="anchor" id="personal-info"></a>
              <div class="header mb-3">
                <div class="header-body pb-3">
                  <h4 class="header-title">
                    Personal information
                  </h4>
                </div>
              </div>

              <div class="form-row mt-2 mb-4 mx-0">
                <div class="col-12 col-md-8 pl-0 pr-2 mt-2">
                  <div class="mb-2">
                    <input type="text" class="form-control" placeholder="First name" value="">
                  </div>
                  <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Last name" value="">
                  </div>
                  <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Location">
                  </div>
                </div>
                <div class="col-12 col-md-4 pl-2 pr-0 mt-2">
                  <!-- Dropzone -->
                  <div class="dropzone dropzone-single mb-3" data-toggle="dropzone" data-options='{"url": "https://", "maxFiles": 1, "acceptedFiles": "image/*"}'>

                    <!-- Fallback -->
                    <div class="fallback">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="projectCoverUploads">
                        <label class="custom-file-label" for="projectCoverUploads">Choose file</label>
                      </div>
                    </div>

                    <!-- Preview -->
                    <div class="dz-preview dz-preview-single">
                      <div class="dz-preview-cover">
                        <img class="dz-preview-img" src="data:image/svg+xml,%3csvg3c/svg%3e" alt="..." data-dz-thumbnail>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <a class="anchor" id="contact-details"></a>
              <div class="header mb-3">
                <div class="header-body pb-3">
                  <h4 class="header-title">
                    Contacts details
                  </h4>
                </div>
              </div>

              <div class="form-row mt-2 mb-4 mx-0">
                <div class="col-12 col-md-6 pl-0 pr-2 mt-2">
                  <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Email" value="">
                  </div>
                  <button type="button" class="btn btn-link btn-sm" >
                    <a href="#"><i class="fe fe-plus"></i>Add an email</a>
                  </button>
                </div>
                <div class="col-12 col-md-6 pl-2 pr-0 mt-2">
                  <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Phone number" value="">
                  </div>
                  <button type="button" class="btn btn-link btn-sm" >
                    <a href="#"><i class="fe fe-plus"></i>Add a phone number</a>
                  </button>
                </div>
              </div>

              <a class="anchor" id="summary"></a>
              <div class="header mb-3">
                <div class="header-body pb-3">
                  <h4 class="header-title">
                    Summary
                  </h4>
                </div>
              </div>

              <div class="form-row mt-2 mb-4 mx-0">
                <div class="col-12 p-0 mb-3">
                  <div class="mb-2">
                    <label class="small">Headline</label>
                    <input type="text" class="form-control" placeholder="Email" value="">
                  </div>
                </div>
                <div class="col-12 p-0">
                  <label class="small">About</label>
                  <div data-toggle="quill" data-options='{"placeholder": "Profile details", "modules" : {"toolbar":false}}' style="height: 240px;"></div>
                </div>
              </div>

              <a class="anchor" id="skills"></a>
              <div class="header mb-3">
                <div class="header-body pb-3">
                  <h4 class="header-title">
                    Skills
                  </h4>
                </div>
              </div>

              <div class="my-4 mx-0">
                <div class="col-12 p-0">
                  <select class="form-control form-control-lg" data-toggle="select" multiple>
                    <option>CSS</option>
                    <option>HTML</option>
                    <option>JavaScript</option>
                    <option>Bootstrap</option>
                  </select>
                </div>
              </div>

              <a class="anchor" id="work-experience"></a>
              <div class="header mb-3">
                <div class="header-body pb-3">
                  <h4 class="header-title">
                    Work experience
                  </h4>
                </div>
              </div>

              <div class="form-row mt-2 mb-4 mx-0">

                <div class="work-education-item form-row my-3 mx-0">
                  <div style="position: absolute; top:-4px; right: -32px; display: flex;flex-direction: column">
                    <button type="button" class="list-alert-close close">
                      <i class="fas fa-grip-vertical button-drag mb-2"></i>
                    </button>
                    <button type="button" class="list-alert-close close">
                      <i class="fas fa-trash" style="font-size: 16px;color:#E63757"></i>
                    </button>
                  </div>
                  <div class="col-12 col-md-6">

                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="Job position" value="">
                    </div>

                    <div class="d-flex">
                      <div class="mb-2 mr-2">
                        <input type="text" class="form-control" placeholder="From" data-toggle="flatpickr">
                      </div>
                      <div class="mb-2">
                        <input type="text" class="form-control" placeholder="To" data-toggle="flatpickr">
                      </div>
                    </div>

                  </div>
                  <div class="col-12 col-md-6 pl-2 pr-0">
                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="Company" value="">
                    </div>
                    <div>
                      <input type="text" class="form-control" placeholder="Location" value="">
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-link btn-sm" >
                  <a href="#"><i class="fe fe-plus"></i>Add an experience</a>
                </button>

              </div>

              <a class="anchor" id="education"></a>
              <div class="header mb-3">
                <div class="header-body pb-3">
                  <h4 class="header-title">
                    Education
                  </h4>
                </div>
              </div>

              <div class="form-row mt-2 mb-4 mx-0">
                <div class="work-education-item form-row my-3 mx-0">
                  <div style="position: absolute; top:-4px; right: -32px; display: flex;flex-direction: column">
                    <button type="button" class="list-alert-close close">
                      <i class="fas fa-grip-vertical button-drag mb-2"></i>
                    </button>
                    <button type="button" class="list-alert-close close">
                      <i class="fas fa-trash" style="font-size: 16px;color:#E63757"></i>
                    </button>
                  </div>
                  <div class="col-12 col-md-6">

                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="School" value="">
                    </div>

                    <div class="d-flex">
                      <div class="mb-2 mr-2">
                        <input type="text" class="form-control" placeholder="From" data-toggle="flatpickr">
                      </div>
                      <div class="mb-2">
                        <input type="text" class="form-control" placeholder="To" data-toggle="flatpickr">
                      </div>
                    </div>

                  </div>
                  <div class="col-12 col-md-6 pl-2 pr-0">
                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="Degree" value="">
                    </div>
                    <div>
                      <input type="text" class="form-control" placeholder="Location" value="">
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-link btn-sm" >
                  <a href="#"><i class="fe fe-plus"></i>Add an education</a>
                </button>
              </div>

              <a class="anchor" id="links-social"></a>
              <div class="header mb-3">
                <div class="header-body pb-3">
                  <h4 class="header-title">
                    Links & social
                  </h4>
                </div>
              </div>

              <div class="mt-2 mb-4 mx-0">
                <div class="d-flex align-items-center my-2">
                  <select class="custom-select" data-toggle="select" value="Linkedin">
                    <option>Linkedin</option>
                    <option>Twitter</option>
                    <option>Github</option>
                    <option>Dribbble</option>
                    <option>Reddit</option>
                  </select>
                  <input type="text" class="form-control ml-3 w-200" value="linkedin.com/in/thibaud-elziere-a787913/">
                  <button type="button" class="list-alert-close close ml-4" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="d-flex align-items-center my-2">
                  <select class="custom-select" data-toggle="select" value="Linkedin">
                    <option>Twitter</option>
                    <option>Github</option>
                    <option>Dribbble</option>
                    <option>Reddit</option>
                  </select>
                  <input type="text" class="form-control ml-3 w-200" value="twitter.com/elziere-a787913/">
                  <button type="button" class="list-alert-close close ml-4" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="d-flex align-items-center my-2">
                  <select class="custom-select" data-toggle="select" value="Linkedin">
                    <option>Github</option>
                    <option>Dribbble</option>
                    <option>Reddit</option>
                  </select>
                  <input type="text" class="form-control ml-3 w-200" value="github.com/thibaud-elziere-a787913/">
                  <button type="button" class="list-alert-close close ml-4" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <button type="button" class="btn btn-link btn-sm" >
                  <a href="#"><i class="fe fe-plus"></i>Add a link</a>
                </button>
              </div>

              <a class="anchor" id="process-info"></a>
              <div class="header mb-3">
                <div class="header-body pb-3">
                  <h4 class="header-title">
                    Process information
                  </h4>
                </div>
              </div>

              <div class="form-row mt-2 mb-4 mx-0">
                <div class="col-12 col-md-6 pl-0 pr-2">
                  <div class="mb-3">
                    <label class="small">Job offer</label>
                    <select class="custom-select" data-toggle="select">
                      <option>No job offer</option>
                      <option>Backend Engineer</option>
                      <option>Product Manager</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="small">Contract type</label>
                    <select class="custom-select" data-toggle="select">
                      <option>Full-time</option>
                      <option>Freelance</option>
                      <option>Internship</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="small">Available from</label>
                    <input type="text" class="form-control" placeholder="Available from" data-toggle="flatpickr">
                  </div>
                </div>
                <div class="col-12 col-md-6 pr-0 pl-2">
                  <div class="mb-3">
                    <label class="small">Stage</label>
                    <select class="custom-select" data-toggle="select">
                      <option>No stage</option>
                      <option>Applied</option>
                      <option>Phone screen</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="small">Salary expectations</label>
                    <input type="text" class="form-control" placeholder="Salary expectations" value="">
                  </div>
                  <div class="mb-3">
                    <label class="small">Tags</label>
                    <input type="text" class="form-control" placeholder="Tags" value="">
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
