<!DOCTYPE html>
<html lang="en">
  <head>
    @@include("head.html", {
      "title": "Crew - @@full_name"
    })
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    @@include("modal-profile.html", {
      "modal_type"           : "profile-edit",
      "id"                   : "@@id",
      "first_name"           : "@@first_name",
      "last_name"            : "@@last_name",
      "full_name"            : "@@full_name",
      "location"             : "@@location",
      "email"                : "@@email",
      "phone_number"         : "@@phone_number",
      "job_offer"            : "@@job_offer",
      "stage"                : "@@stage",
      "contract_type"        : "@@contract_type",
      "available_from"       : "@@available_from",
      "salary_expectations"  : "@@salary_expectations",
      "headline"             : "@@headline",
      "about"                : "@@about",
      "tag" : {
        "A"                  : "@@tag.A",
        "B"                  : "@@tag.B",
        "C"                  : "@@tag.C",
        "D"                  : "@@tag.D",
        "E"                  : "@@tag.E",
        "F"                  : "@@tag.F",
        "G"                  : "@@tag.G",
        "H"                  : "@@tag.H",
        "I"                  : "@@tag.I",
        "J"                  : "@@tag.J"
      },
      "skill" : {
        "A"                  : "@@skill.A",
        "B"                  : "@@skill.B",
        "C"                  : "@@skill.C",
        "D"                  : "@@skill.D",
        "E"                  : "@@skill.E",
        "F"                  : "@@skill.F",
        "G"                  : "@@skill.G",
        "H"                  : "@@skill.H",
        "I"                  : "@@skill.I",
        "J"                  : "@@skill.J"
      },
      "work" : {
        "A" : {
          "job_or_school"    : "@@work.A.job_or_school",
          "company_or_degree": "@@work.A.company_or_degree",
          "from"             : "@@work.A.from",
          "to"               : "@@work.A.to",
          "duration"         : "@@work.A.duration",
          "location"         : "@@work.A.location"
        },
        "B" : {
          "job_or_school"    : "@@work.B.job_or_school",
          "company_or_degree": "@@work.B.company_or_degree",
          "from"             : "@@work.B.from",
          "to"               : "@@work.B.to",
          "duration"         : "@@work.B.duration",
          "location"         : "@@work.B.location"
        },
        "C" : {
          "job_or_school"    : "@@work.C.job_or_school",
          "company_or_degree": "@@work.C.company_or_degree",
          "from"             : "@@work.C.from",
          "to"               : "@@work.C.to",
          "duration"         : "@@work.C.duration",
          "location"         : "@@work.C.location"
        }
      },
      "education" : {
        "A" : {
          "job_or_school"    : "@@education.A.job_or_school",
          "company_or_degree": "@@education.A.company_or_degree",
          "from"             : "@@education.A.from",
          "to"               : "@@education.A.to",
          "duration"         : "@@education.A.duration",
          "location"         : "@@education.A.location"
        },
        "B" : {
          "job_or_school"    : "@@education.B.job_or_school",
          "company_or_degree": "@@education.B.company_or_degree",
          "from"             : "@@education.B.from",
          "to"               : "@@education.B.to",
          "duration"         : "@@education.B.duration",
          "location"         : "@@education.B.location"
        },
        "C" : {
          "job_or_school"    : "@@education.C.job_or_school",
          "company_or_degree": "@@education.C.company_or_degree",
          "from"             : "@@education.C.from",
          "duration"         : "@@education.C.duration",
          "location"         : "@@education.C.location"
        }
      },
      "social_link" : {
        "A" : {
         "link_id"           : "@@social_link.A.link_id",
         "link_name"         : "@@social_link.A.link_name",
         "link_url"          : "@@social_link.A.link_url"
        },
        "B" : {
         "link_id"           : "@@social_link.B.link_id",
         "link_name"         : "@@social_link.B.link_name",
         "link_url"          : "@@social_link.B.link_url"
        },
        "C" : {
         "link_id"           : "@@social_link.C.link_id",
         "link_name"         : "@@social_link.C.link_name",
         "link_url"          : "@@social_link.C.link_url"
        }
      },

    })

    <!-- NAVIGATION
    ================================================== -->
    @@include("sidebar.html", {
      "section": "profile"
    })

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">
      @@include("topbar-profile.html", {
        "id"        : "@@id",
        "full_name" : "@@full_name",
        "headline"  : "@@headline",
        "job_offer" : "@@job_offer",
        "stage"     : "@@stage"
      })

      <!-- Talent profile -->
      <div class="container-fluid">
        <div class="row">

          <!-- Resume -->
          <div class="col-12 col-xl-5 p-0">
            @@include("resume.html", {
              "about"                : "@@about",
              "contract_type"        : "@@contract_type",
              "available_from"       : "@@available_from",
              "salary_expectations"  : "@@salary_expectations",
              "years_xp"             : "@@years_xp",
              "more_xp"             : "@@more_xp",
              "more_edu"            : "@@more_edu",
              "tag" : {
                "A"                  : "@@tag.A",
                "B"                  : "@@tag.B",
                "C"                  : "@@tag.C",
                "D"                  : "@@tag.D",
                "E"                  : "@@tag.E",
                "F"                  : "@@tag.F",
                "G"                  : "@@tag.G",
                "H"                  : "@@tag.H",
                "I"                  : "@@tag.I",
                "J"                  : "@@tag.J"
              },
              "skill" : {
                "A"                  : "@@skill.A",
                "B"                  : "@@skill.B",
                "C"                  : "@@skill.C",
                "D"                  : "@@skill.D",
                "E"                  : "@@skill.E",
                "F"                  : "@@skill.F",
                "G"                  : "@@skill.G",
                "H"                  : "@@skill.H",
                "I"                  : "@@skill.I",
                "J"                  : "@@skill.J"
              },
              "work" : {
                "A" : {
                  "job_or_school"    : "@@work.A.job_or_school",
                  "company_or_degree": "@@work.A.company_or_degree",
                  "from"             : "@@work.A.from",
                  "to"               : "@@work.A.to",
                  "duration"         : "@@work.A.duration",
                  "location"         : "@@work.A.location"
                },
                "B" : {
                  "job_or_school"    : "@@work.B.job_or_school",
                  "company_or_degree": "@@work.B.company_or_degree",
                  "from"             : "@@work.B.from",
                  "to"               : "@@work.B.to",
                  "duration"         : "@@work.B.duration",
                  "location"         : "@@work.B.location"
                },
                "C" : {
                  "job_or_school"    : "@@work.C.job_or_school",
                  "company_or_degree": "@@work.C.company_or_degree",
                  "from"             : "@@work.C.from",
                  "to"               : "@@work.C.to",
                  "duration"         : "@@work.C.duration",
                  "location"         : "@@work.C.location"
                }
              },
              "education" : {
                "A" : {
                  "job_or_school"    : "@@education.A.job_or_school",
                  "company_or_degree": "@@education.A.company_or_degree",
                  "from"             : "@@education.A.from",
                  "to"               : "@@education.A.to",
                  "duration"         : "@@education.A.duration",
                  "location"         : "@@education.A.location"
                },
                "B" : {
                  "job_or_school"    : "@@education.B.job_or_school",
                  "company_or_degree": "@@education.B.company_or_degree",
                  "from"             : "@@education.B.from",
                  "to"               : "@@education.B.to",
                  "duration"         : "@@education.B.duration",
                  "location"         : "@@education.B.location"
                },
                "C" : {
                  "job_or_school"    : "@@education.C.job_or_school",
                  "company_or_degree": "@@education.C.company_or_degree",
                  "from"             : "@@education.C.from",
                  "to"               : "@@education.C.to",
                  "duration"         : "@@education.C.duration",
                  "location"         : "@@education.C.location"
                }
              },
              "social_link" : {
                "A" : {
                 "link_id"           : "@@social_link.A.link_id",
                 "link_name"         : "@@social_link.A.link_name",
                 "link_url"          : "@@social_link.A.link_url"
                },
                "B" : {
                 "link_id"           : "@@social_link.B.link_id",
                 "link_name"         : "@@social_link.B.link_name",
                 "link_url"          : "@@social_link.B.link_url"
                },
                "C" : {
                 "link_id"           : "@@social_link.C.link_id",
                 "link_name"         : "@@social_link.C.link_name",
                 "link_url"          : "@@social_link.C.link_url"
                }
              }
            })
          </div>

          <!-- Timelines -->
          <div class="col-12 col-xl-7 p-0">
            <div class="timeline-profile">
              @@include("timeline.html", {
                "timeline" : {
                  "A"  : {
                    "id"        : "@@id",
                    "full_name" : "@@full_name",
                    "author"    : "@@timeline.A.author",
                    "title"     : "@@timeline.A.title",
                    "icon"      : "@@timeline.A.icon",
                    "scheduled" : "@@timeline.A.scheduled",
                    "timestamp" : "@@timeline.A.timestamp",
                    "details"   : "@@timeline.A.details",
                    "see_more"  : "@@timeline.A.see_more"
                  },
                  "B"  : {
                    "id"        : "@@id",
                    "full_name" : "@@full_name",
                    "author"    : "@@timeline.B.author",
                    "title"     : "@@timeline.B.title",
                    "icon"      : "@@timeline.B.icon",
                    "scheduled" : "@@timeline.B.scheduled",
                    "timestamp" : "@@timeline.B.timestamp",
                    "details"   : "@@timeline.B.details",
                    "see_more"  : "@@timeline.B.see_more"
                  },
                  "C"  : {
                    "id"        : "@@id",
                    "full_name" : "@@full_name",
                    "author"    : "@@timeline.C.author",
                    "title"     : "@@timeline.C.title",
                    "icon"      : "@@timeline.C.icon",
                    "scheduled" : "@@timeline.C.scheduled",
                    "timestamp" : "@@timeline.C.timestamp",
                    "details"   : "@@timeline.C.details",
                    "see_more"  : "@@timeline.C.see_more"
                  },
                  "D"  : {
                    "id"        : "@@id",
                    "full_name" : "@@full_name",
                    "author"    : "@@timeline.D.author",
                    "title"     : "@@timeline.D.title",
                    "icon"      : "@@timeline.D.icon",
                    "scheduled" : "@@timeline.D.scheduled",
                    "timestamp" : "@@timeline.D.timestamp",
                    "details"   : "@@timeline.D.details",
                    "see_more"  : "@@timeline.D.see_more"
                  },
                  "E"  : {
                    "id"        : "@@id",
                    "full_name" : "@@full_name",
                    "author"    : "@@timeline.E.author",
                    "title"     : "@@timeline.E.title",
                    "icon"      : "@@timeline.E.icon",
                    "scheduled" : "@@timeline.E.scheduled",
                    "timestamp" : "@@timeline.E.timestamp",
                    "details"   : "@@timeline.E.details",
                    "see_more"  : "@@timeline.E.see_more"
                  },
                  "F"  : {
                    "id"        : "@@id",
                    "full_name" : "@@full_name",
                    "author"    : "@@timeline.F.author",
                    "title"     : "@@timeline.F.title",
                    "icon"      : "@@timeline.F.icon",
                    "scheduled" : "@@timeline.F.scheduled",
                    "timestamp" : "@@timeline.F.timestamp",
                    "details"   : "@@timeline.F.details",
                    "see_more"  : "@@timeline.F.see_more"
                  }
                }
              })
            </div>
          </div>

        </div>
      </div>

    </div><!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    @@include("scripts.html")

  </body>
</html>
