<div class="profile profile-resume">

  <div class="d-flex flex-column align-items-start px-5 mt-5">
    <!-- Tags -->
    <div class="d-flex flex-wrap">
      <span class="badge badge-soft-primary m-2"><i class="fe fe-tag"></i> hight fit</span>
      <span class="badge badge-soft-danger m-2"><i class="fe fe-tag"></i> top scool</span>
      <span class="badge badge-soft-info m-2"><i class="fe fe-tag"></i> open-source</span>
      <span class="badge badge-soft-secondary m-2"><i class="fe fe-tag"></i> top company</span>
      <span class="badge badge-soft-warning m-2"><i class="fe fe-tag"></i> top profile</span>
      <span class="badge badge-light m-2"><i class="fe fe-plus"></i>Add tag</span>
    </div>
  </div>

  <div class="d-flex align-items-between px-5 mt-3">
    <div>
      <div class="input-group input-group-merge">
        <input type="text" class="form-control form-control-prepended form-control-sm" placeholder="Contract type" style="border:none">
        <div class="input-group-prepend">
          <div class="input-group-text" style="border:none;padding: 3px;">
            <i class="fe fe-briefcase text-muted" style=";font-size:12px"></i>
          </div>
        </div>
      </div>
      <div class="input-group input-group-merge">
        <input type="text" class="form-control form-control-prepended form-control-sm" placeholder="Salary expectations" style="border:none">
        <div class="input-group-prepend">
          <div class="input-group-text" style="border:none;padding: 3px;">
            <i class="fe fe-dollar-sign text-muted" style=";font-size:12px"></i>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="input-group input-group-merge">
        <input type="text" class="form-control form-control-prepended form-control-sm" placeholder="Availability to start" data-toggle="flatpickr" style="border:none">
        <div class="input-group-prepend">
          <div class="input-group-text" style="border:none;padding: 3px;">
            <i class="fe fe-clock text-muted" style=";font-size:12px"></i>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Summary -->
  <div class="px-5 mt-4">
    <h3 class="mb-2">Summary</h3>
    <p>I am a tech enthusiast and lover of innovation currently doing a Master's degree in Innovation Management at Paris-Dauphine University.I love to discover new ideas and work hard with others to make them happen. I love products from A to Z: inventing, designing, building, and selling them</p>
  </div>

  <!-- Skills -->
  <div class="px-5 mt-5">
    <button class="btn btn-sm btn-light mb-2">
      <span class="fe fe-x"></span> Javascript
    </button>
    <button class="btn btn-sm btn-light mb-2">
      <span class="fe fe-x"></span> React.js
    </button>
    <button class="btn btn-sm btn-light mb-2">
      <span class="fe fe-x"></span> Ruby on Rails
    </button>
    <button class="btn btn-sm btn-light mb-2">
      <span class="fe fe-x"></span> Node.js
    </button>
    <button class="btn btn-sm btn-light mb-2">
      <span class="fe fe-x"></span> Java
    </button>
    <button class="btn btn-sm btn-light mb-2">
      <span class="fe fe-x"></span> SQL
    </button>
    <button class="btn btn-sm btn-light mb-2">
      <span class="fe fe-x"></span> Heroku
    </button>
    <button class="btn btn-sm btn-light mb-2">
      <span class="fe fe-plus"></span><strong> Add skill</strong>
    </button>
  </div>

  <!-- Experience -->
  <div class="px-5 mt-5">
    <h3 class="mb-2">Work experience<span class="small text-muted ml-2">—  11 years</span></h3>

    <ul class="profile-resume-work-education pl-4 mt-4 mb-0">
      @@loop("resume-item.html", [
        {
          "title"       : "Backend Developer",
          "organization": "Spotify",
          "dates"       : "Mar 2016 – Today",
          "duration"    : "5 years",
          "location"    : "Paris, France"
        },
        {
          "title"       : "Software Engineer",
          "organization": "Facebook",
          "dates"       : "Mar 2015 – Feb 2016",
          "duration"    : "1 year",
          "location"    : "Paris, France"
        },
        {
          "title"       : "Scrum Master",
          "organization": "Amazon",
          "dates"       : "Jan 2013 – Feb 2015",
          "duration"    : "6 years",
          "location"    : "Lyon, France"
        }
      ])
    </ul>

    <div class="pl-4 mt-2">
      <a href="#">
        <span class="small text-muted">+ Show 3 more</span>
      </a>
    </div>
  </div>

  <!-- Education -->
  <div class="px-5 mt-5">
    <h3 class="mb-2">Education</h3>

    <ul class="profile-resume-work-education pl-4 mt-4 mb-0">
      @@loop("resume-item.html", [
        {
          "title"       : "",
          "organization": "Ecole Normal Supérieur",
          "dates"       : "2005 – 2007",
          "duration"    : "2 years",
          "location"    : "Paris, France"
        },
        {
          "title"       : "",
          "organization": "Université Pierre et Marie Curie (Paris VI)",
          "dates"       : "2003 – 2005",
          "duration"    : "2 years",
          "location"    : "Paris, France"
        }
      ])
    </ul>

    <div class="pl-4 mt-2">
      <a href="#">
        <span class="small text-muted">+ Show 2 more</span>
      </a>
    </div>
  </div>

  <!-- Social -->
  <div class="px-5 mt-5">
    <h3 class="mb-3">Social & Links</h3>
    <a href=""><i class="text-primary mr-2 fab fa-linkedin"></i>Linkedin</p></a>
    <a href=""><i class="text-primary mr-2 fab fa-twitter"></i>Twitter</p></a>
    <a href=""><i class="text-primary mr-2 fab fa-github"></i>Github</p></a>
    <a href=""><i class="text-primary mr-2 fab fa-dribbble"></i>Dribbble</p></a>
    <a href=""><i class="text-primary mr-2 fab fa-behance"></i>Behance</p></a>
    <a href=""><i class="text-primary mr-2 fab fa-stack-overflow"></i>Stackoverflow</p></a>
    <a href=""><i class="text-primary mr-2 fab fa-reddit"></i>Reddit</p></a>
  </div>
</div>
