<div class="timeline-item @@if(scheduled == 'true'){timeline-item-scheduled}">
  <div class="timeline-item-header d-flex align-items-center">

    <!-- Avatar-->
    <div style="position:relative">
      <a href="#" class="avatar avatar-sm">
        <img src="@@avatar_url" alt="..." class="avatar-img rounded-circle">
      </a>
    </div>

    <div class="flex-grow-1 pl-3 mr-5">

      <!-- Author -->
      <p class="small text-muted mb-0">
        <a class="d-block text-reset" href="#">@@author</a>
      </p>

      <!-- Title -->
      <h4 class="mb-1">
        <a href="#">@@title</a>
      </h4>

    </div>

    <!-- Right elements -->
    <div class="text-right">

        <!-- Item type -->
        <div>
          <i class="fe fe-@@icon text-primary" style="font-size: 12px;"></i>
          <span class="small">@@type</span>
          <span class="small mb-0 @@if(scheduled == 'false'){d-none}">
            <a href="#">edit</a><span> | </span><a href="#">cancel</a>
          </span>
        </div>

        <!-- Timestamp -->
        <p class="small @@if(scheduled == 'true'){badge badge-soft-success text-success} mb-1">
          @@timestamp
        </p>


    </div>

  </div>

  <div class="timeline-item-body @@if(details == ''){d-none}">
    @@details
    <span>
      <a href="#" class="small">See more</a>
    </span>
  </div>

</div>
