@@if(author != ""){
  <div class="timeline-item @@if(scheduled == 'true'){timeline-item-scheduled}">
    <div class="timeline-item-header d-flex align-items-start" style="position: relative;">

      <!-- Type-->
      <div class="avatar avatar-sm">
        <div class="avatar-title font-size-lg bg-primary-soft rounded text-primary">
          <i class="fe fe-@@icon"></i>
        </div>
      </div>

      <div class="flex-grow-1 ml-3">

        <!-- Author -->
        @@if(author == "adelaide") {
          <p class="d-flex align-items-center small text-muted mb-1">
            <span class="avatar avatar-xs mr-2" style="width: 16px;height: auto;">
              <img src="/assets/img/avatars/members/adelaide.jpg" alt="..." class="avatar-img rounded-circle">
            </span>
            Adélaïde Eudier
          </p>
        }
        @@if(author == "alix") {
          <p class="d-flex align-items-center small text-muted mb-1">
            <span class="avatar avatar-xs mr-2" style="width: 16px;height: auto;">
              <img src="/assets/img/avatars/members/alix.jpg" alt="..." class="avatar-img rounded-circle">
            </span>
            Alix Vandame
          </p>
        }
        @@if(author == "amaury") {
          <p class="d-flex align-items-center small text-muted mb-1">
            <span class="avatar avatar-xs mr-2" style="width: 16px;height: auto;">
              <img src="/assets/img/avatars/members/amaury.jpg" alt="..." class="avatar-img rounded-circle">
            </span>
            Amaury Sepulche
          </p>
        }
        @@if(author == "benjamin") {
          <p class="d-flex align-items-center small text-muted mb-1">
            <span class="avatar avatar-xs mr-2" style="width: 16px;height: auto;">
              <img src="/assets/img/avatars/members/benjamin.jpg" alt="..." class="avatar-img rounded-circle">
            </span>
            Benjamin Fredj
          </p>
        }
        @@if(author == "didier") {
          <p class="d-flex align-items-center small text-muted mb-1">
            <span class="avatar avatar-xs mr-2" style="width: 16px;height: auto;">
              <img src="/assets/img/avatars/members/didier.jpg" alt="..." class="avatar-img rounded-circle">
            </span>
            Didier Forest
          </p>
        }
        @@if(author == "gregoire") {
          <p class="d-flex align-items-center small text-muted mb-1">
            <span class="avatar avatar-xs mr-2" style="width: 16px;height: auto;">
              <img src="/assets/img/avatars/members/gregoire.jpg" alt="..." class="avatar-img rounded-circle">
            </span>
            Grégoire Charles
          </p>
        }
        @@if(author == "juliette") {
          <p class="d-flex align-items-center small text-muted mb-1">
            <span class="avatar avatar-xs mr-2" style="width: 16px;height: auto;">
              <img src="/assets/img/avatars/members/juliette.jpg" alt="..." class="avatar-img rounded-circle">
            </span>
            Juliette Vorsanger
          </p>
        }
        @@if(author == "thibaud") {
          <p class="d-flex align-items-center small text-muted mb-1">
            <span class="avatar avatar-xs mr-2" style="width: 16px;height: auto;">
              <img src="/assets/img/avatars/members/thibaud.jpg" alt="..." class="avatar-img rounded-circle">
            </span>
            Thibaud Elzière
          </p>
        }
        @@if(author == "profile") {
          <p class="d-flex align-items-center small text-muted mb-1">
            <span class="avatar avatar-xs mr-2" style="width: 16px;height: auto;">
              <img src="/assets/img/avatars/profiles/avatar-@@id.jpg" alt="..." class="avatar-img rounded-circle">
            </span>
            @@full_name
          </p>
        }

        <!-- Title -->
        <h4 class="mb-1">@@title</h4>

        <!-- Timeline item body -->
        @@if(details != '') {
          <div style="font-size: 14px;">
            @@details
            @@if(see_more == 'true') {
              <span>
                <a href="#" class="small">see more</a>
              </span>
            }
          </div>
        }
      </div>

      <div class=" d-flex flex-column text-right" style="position: absolute;right: 20px">
        <!-- Timestamp -->
        @@if(scheduled == 'true') {
          <p class="badge badge-soft-success text-success small mb-1">
            @@timestamp
          </p>
        }
        @@if(scheduled != 'true') {
          <p class="text-muted small mb-1" style="font-size: 12px;">
            @@timestamp
          </p>
        }
        <!-- Actions -->
        @@if(scheduled == 'true') {
          <span class="small mb-0">
            <a href="#">edit</a><span> | </span><a href="#">cancel</a>
          </span>
        }
      </div>

    </div>
  </div>
}
