<div class="timeline-body">

  <!-- Controls -->
  <div class="timeline-controls d-flex justify-content-between">
    <div>
      <button class="btn btn-sm btn-white">
        <span class="fe fe-mail text-primary"></span> Email
      </button>

      <button class="btn btn-sm btn-white">
        <span class="fe fe-clock text-primary"></span> Reminder
      </button>

      <button class="btn btn-sm btn-white">
        <span class="fe fe-file-text text-primary"></span> Note
      </button>

      <button class="btn btn-sm btn-white">
        <span class="fe fe-more-horizontal"></span>
      </button>
    </div>
    <div>
      <select class="custom-select custom-select-sm" data-toggle="select">
        <option>All activities</option>
        <option>Emails</option>
        <option>Applications</option>
        <option>Interviews</option>
        <option>Notes</option>
        <option>Reviews</option>
        <option>Signals</option>
        <option>Reminders</option>
      </select>
    </div>
  </div>

  <!-- Scheduled items -->
  @@if(timeline.A != "") {
    @@include("timeline-item.html", {
      "id"        : "@@timeline.A.id",
      "full_name" : "@@timeline.A.full_name",
      "author"    : "@@timeline.A.author",
      "title"     : "@@timeline.A.title",
      "icon"      : "@@timeline.A.icon",
      "scheduled" : "@@timeline.A.scheduled",
      "timestamp" : "@@timeline.A.timestamp",
      "details"   : "@@timeline.A.details",
      "see_more"  : "@@timeline.A.see_more"
    })
  }


  @@if(timeline.A.scheduled == 'true') {
    <!-- Divider -->
    <div class="timeline-item-separator">
      <hr>
      <span class="badge badge-light"><i class="fe fe-activity"></i> Activities</span>
    </div>
  }

  <!-- Timeline items -->
  <div class="timeline-items">
    @@if(timeline.B != "") {
      @@include("timeline-item.html", {
        "id"        : "@@timeline.B.id",
        "full_name" : "@@timeline.B.full_name",
        "author"    : "@@timeline.B.author",
        "title"     : "@@timeline.B.title",
        "icon"      : "@@timeline.B.icon",
        "scheduled" : "@@timeline.B.scheduled",
        "timestamp" : "@@timeline.B.timestamp",
        "details"   : "@@timeline.B.details",
        "see_more"  : "@@timeline.B.see_more"
      })
    }
    @@if(timeline.C != "") {
      @@include("timeline-item.html", {
        "id"        : "@@timeline.C.id",
        "full_name" : "@@timeline.C.full_name",
        "author"    : "@@timeline.C.author",
        "title"     : "@@timeline.C.title",
        "icon"      : "@@timeline.C.icon",
        "scheduled" : "@@timeline.C.scheduled",
        "timestamp" : "@@timeline.C.timestamp",
        "details"   : "@@timeline.C.details",
        "see_more"  : "@@timeline.C.see_more"
      })
    }
    @@if(timeline.D != "") {
      @@include("timeline-item.html", {
        "id"        : "@@timeline.D.id",
        "full_name" : "@@timeline.D.full_name",
        "author"    : "@@timeline.D.author",
        "title"     : "@@timeline.D.title",
        "icon"      : "@@timeline.D.icon",
        "scheduled" : "@@timeline.D.scheduled",
        "timestamp" : "@@timeline.D.timestamp",
        "details"   : "@@timeline.D.details",
        "see_more"  : "@@timeline.D.see_more"
      })
    }
    @@if(timeline.E != "") {
      @@include("timeline-item.html", {
        "id"        : "@@timeline.E.id",
        "full_name" : "@@timeline.E.full_name",
        "author"    : "@@timeline.E.author",
        "title"     : "@@timeline.E.title",
        "icon"      : "@@timeline.E.icon",
        "scheduled" : "@@timeline.E.scheduled",
        "timestamp" : "@@timeline.E.timestamp",
        "details"   : "@@timeline.E.details",
        "see_more"  : "@@timeline.E.see_more"
      })
    }
    @@if(timeline.F != "") {
      @@include("timeline-item.html", {
        "id"        : "@@timeline.F.id",
        "full_name" : "@@timeline.F.full_name",
        "author"    : "@@timeline.F.author",
        "title"     : "@@timeline.F.title",
        "icon"      : "@@timeline.F.icon",
        "scheduled" : "@@timeline.F.scheduled",
        "timestamp" : "@@timeline.F.timestamp",
        "details"   : "@@timeline.F.details",
        "see_more"  : "@@timeline.F.see_more"
      })
    }

  </div>

</div>
