<div class="topbar-profile bg-white d-flex align-items-end justify-content-between sticky-top" style="z-index: 2">

  <!-- Header -->
  <div class="d-flex align-items-center px-3 my-auto" style="position:relative;">
    <div>
      <!-- Avatar -->
      <a href="#" class="avatar avatar-xl">
        <img src="@@avatar_url" alt="..." class="avatar-img rounded">
      </a>
    </div>

    <div class="ml-4">
      <button type="button" class="btn btn-sm btn-link p-0 mb-2">
        <a href="@@origin-url"><i class="fe fe-chevron-left"></i>Back to @@origin</a>
      </button>
      <!-- full_name -->
      <h1 class="mb-1">
        @@full_name
        <span>
          <button class="btn btn-white btn-xs text-muted ml-2" data-toggle="modal" data-target="#profile-edit">
            edit profile
          </button>
        </span>
      </h1>

      <!-- Headline -->
      <p class="mb-1 text-muted">
        @@headline
      </p>

    </div>
  </div>

  <!-- Process -->
  <div class="d-flex align-items-center" style="margin-bottom: 5px;">

    <!-- Position selector -->
    <div class="mr-2">
        @@if(job_offer == 'Backend Engineer') {
          <select class="custom-select custom-select-sm" data-toggle="select">
            <option selected="selected">Backend Engineer</option>
            <option>Frontend Developer</option>
            <option>Product Manager</option>
            <option>Marketing & Sales</option>
          </select>
        }
        @@if(job_offer == 'Frontend Developer') {
          <select class="custom-select custom-select-sm" data-toggle="select">
            <option>Backend Engineer</option>
            <option selected="selected">Frontend Developer</option>
            <option>Product Manager</option>
            <option>Marketing & Sales</option>
          </select>
        }
        @@if(job_offer == 'Product Manager') {
          <select class="custom-select custom-select-sm" data-toggle="select">
            <option>Backend Engineer</option>
            <option>Frontend Developer</option>
            <option selected="selected">Product Manager</option>
            <option>Marketing & Sales</option>
          </select>
        }
        @@if(job_offer == 'Marketing & Sales') {
          <select class="custom-select custom-select-sm" data-toggle="select">
            <option>Backend Engineer</option>
            <option>Frontend Developer</option>
            <option>Product Manager</option>
            <option selected="selected">Marketing & Sales</option>
          </select>
        }
    </div>

    <!-- Stage selector -->
    <div class="mr-1">
      @@if(stage == 'Sourced') {
        <select class="custom-select custom-select-sm" data-toggle="select">
          <option selected="selected">Sourced</option>
          <option>Applied</option>
          <option>Contacted</option>
          <option>Interview</option>
          <option>Offer sent</option>
          <option>Hired</option>
          <option>Declined</option>
        </select>
      }
      @@if(stage == 'Applied') {
        <select class="custom-select custom-select-sm" data-toggle="select">
          <option>Sourced</option>
          <option selected="selected">Applied</option>
          <option>Contacted</option>
          <option>Interview</option>
          <option>Offer sent</option>
          <option>Hired</option>
          <option>Declined</option>
        </select>
      }      @@if(stage == 'Contacted') {
        <select class="custom-select custom-select-sm" data-toggle="select">
          <option>Sourced</option>
          <option>Applied</option>
          <option selected="selected">Contacted</option>
          <option>Interview</option>
          <option>Offer sent</option>
          <option>Hired</option>
          <option>Declined</option>
        </select>
      }
      @@if(stage == 'Interview') {
        <select class="custom-select custom-select-sm" data-toggle="select">
          <option>Sourced</option>
          <option>Applied</option>
          <option>Contacted</option>
          <option selected="selected">Interview</option>
          <option>Offer sent</option>
          <option>Hired</option>
          <option>Declined</option>
        </select>
      }
      @@if(stage == 'Offer sent') {
        <select class="custom-select custom-select-sm" data-toggle="select">
          <option>Sourced</option>
          <option>Applied</option>
          <option>Contacted</option>
          <option>Interview</option>
          <option selected="selected">Offer sent</option>
          <option>Hired</option>
          <option>Declined</option>
        </select>
      }
      @@if(stage == 'Hired') {
        <select class="custom-select custom-select-sm" data-toggle="select">
          <option>Sourced</option>
          <option>Applied</option>
          <option>Contacted</option>
          <option>Interview</option>
          <option>Offer sent</option>
          <option selected="selected">Hired</option>
          <option>Declined</option>
        </select>
      }
      @@if(stage == 'Sourced') {
        <select class="custom-select custom-select-sm" data-toggle="select">
          <option>Sourced</option>
          <option>Applied</option>
          <option>Contacted</option>
          <option>Interview</option>
          <option>Offer sent</option>
          <option>Declined</option>
          <option selected="selected">Declined</option>
        </select>
      }
    </div>

    <!-- More actions dropdown -->
    <div>
      <div class="dropdown">
        <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>

        <div class="dropdown-menu dropdown-menu-right">
          <a href="#!" class="dropdown-item">Action</a>
          <a href="#!" class="dropdown-item">Another action</a>
          <a href="#!" class="dropdown-item">Something else here</a>
        </div>
      </div>
    </div>

  </div>
</div>
