<nav class="navbar topbar-crew @@if(section == 'talent'){topbar-talent-profile} navbar-expand-md navbar-light d-none d-md-flex" id="topbar">
  <div class="container-fluid">

    @@if (section == "inbox") {
      @@include("header-tabs.html", {
        "url1" : "inbox.html",
        "menu1" : "All notifications",
        "url2" : "#",
        "menu2" : "Sent",
        "url3" : "#",
        "menu3" : "Applications",
        "url4" : "#",
        "menu4" : "Interviews",
        "url5" : "#",
        "menu5" : "Reminders",
        "url6" : "#",
        "menu6" : "Mentions",
        "url7" : "#",
        "menu7" : ""
      })
    }

    @@if (section == "talent") {
      @@include("header-talent-profile.html", {
        "origin" : "inbox",
        "fullname" : "Pauline Lenoir"
      })
    }

    @@if (section == "tools") {
      @@include("header-tabs.html", {
        "url1" : "career-page-builder.html",
        "menu1" : "Career page",
        "url2" : "#",
        "menu2" : "Email templates",
        "url3" : "#",
        "menu3" : "Sequences",
        "url4" : "#",
        "menu4" : "Scorecards",
        "url5" : "#",
        "menu5" : "Chrome Extension",
        "url6" : "linkedin.html",
        "menu6" : "[Linkedin] Chrome Extension",
        "url7" : "#",
        "menu7" : ""
      })
    }

    <!-- User -->
    <div class="navbar-user mr-3">

      <!-- Dropdown -->
      <div class="dropdown">

        <!-- Toggle -->
        <a href="#" class="avatar avatar-sm dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://ca.slack-edge.com/T029MPGH6-U013V6LSE7J-03ad80833708-512" class="avatar-img rounded" />
        </a>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item">Link</a>
          <a href="#" class="dropdown-item">Link</a>
          <hr class="dropdown-divider" />
          <a href="sign-in.html" class="dropdown-item">Logout</a>
        </div>

      </div>

    </div>

  </div>
</nav>
