<div class="work-education-item form-row my-3 mx-0">
  <div style="position: absolute; top:-4px; right: -32px; display: flex;flex-direction: column">
    <button type="button" class="list-alert-close close">
      <i class="fas fa-grip-vertical button-drag mb-2"></i>
    </button>
    <button type="button" class="list-alert-close close">
      <i class="fas fa-trash" style="font-size: 16px;color:#E63757"></i>
    </button>
  </div>
  <div class="col-12 col-md-6">

    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Job position" value="@@job_or_school">
    </div>

    <div class="d-flex">
      <div class="mb-2 mr-2">
        <input type="text" class="form-control" placeholder="From" data-toggle="flatpickr" value="@@from">
      </div>
      <div class="mb-2">
        <input type="text" class="form-control" placeholder="To" data-toggle="flatpickr" value="@@to">
      </div>
    </div>

  </div>
  <div class="col-12 col-md-6 pl-2 pr-0">
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Company" value="@@company_or_degree">
    </div>
    <div>
      <input type="text" class="form-control" placeholder="Location" value="@@location">
    </div>
  </div>
</div>
