<!DOCTYPE html>
<html lang="en">
  <head>
    @@include("partials/head.html", {
    "title": "Crew - Career page builder"
    })
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    @@include("partials/modals.html")

    <!-- NAVIGATION
    ================================================== -->
    @@if (navPosition == 'sidenav' || navPosition == 'combo' || demoMode) {
    @@if (sidebarSize == 'base' || demoMode) {
    @@include("partials/sidebar.html", {
    "category": "dashboards",
    "subcategory": "",
    "page": "career-page-builder.html"
    })
    }
    @@if (sidebarSize == 'small' || demoMode) {
    @@include("partials/sidebar-sm.html", {
    "category": "dashboards",
    "subcategory": "",
    "page": "career-page-builder.html"
    })
    }
    }
    @@if (navPosition == 'topnav' || demoMode) {
    @@include("partials/topnav.html", {
    "category": "dashboards",
    "subcategory": "",
    "page": "career-page-builder.html"
    })
    }

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">
      @@if (navPosition == 'combo' || demoMode) {
      @@include("partials/topbar.html")
      }

      <!-- HEADER TABS -->
      @@include("partials/header-tabs.html", {
        "menu1": "Career page",
        "url1" : "career-page-builder.html",
        "menu2": "Email templates",
        "url2" : "#",
        "menu3": "Sequences",
        "url3" : "#",
        "menu4": "Scorecards",
        "url4" : "#",
        "menu5": "Chrome Extension",
        "url5" : "#",
        "menu6": "",
        "url6" : "#",
        "menu7": "",
        "url7" : "#"
      })

    </div><!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    @@include("partials/scripts.html")

  </body>
</html>
